@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This would be the dashboard then binace API is connected. You could be proceed with DEMO WALLET right now!</p>
</div>